body{
    margin: 0;
    background-color: black;
    color: white;

}



.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; 
    top: 0; 
    width: 100%; 
  
}

  .navbar a {
    font-family: 'Righteous', cursive;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin:25px 20px;
  }
  

  .navbar a:hover {
  width: auto;
    transition:100ms;
    border-style: solid;
    background-color: white;
    border-color: white;
    border-radius: 20px;
    color: black;
  }




.column img{
  border-style: solid;
  color: 
  white;
}

.column {
  float: left;
  padding: 22px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column img:hover{
  border-style: inset;
  border-color: goldenrod;
}

  h1{
    font-family: 'Secular One', sans-serif;
text-align: center;
  }

  .two {
    border-style: solid;
    border-color: white;
  }

  .two:hover{
    color: goldenrod;
  }