body{
    margin: 0;
    background-color: black;
    color: white;

}



.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; 
    top: 0; 
    width: 100%; 
  
}

  .navbar a {
    font-family: 'Righteous', cursive;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    margin:25px 20px;
  }
  

  .navbar a:hover {
    transition: 1.25s;
    background-color: green;
    border-radius: 20px;
    padding: 5px;
  }


  



  .Dolgok{
    display: flex;
   align-content: center;
   justify-content: center;
}

.Dolgok div{
    border-style: solid;
    background-color: white;
font-family: 'Secular One', sans-serif;
text-align: center;
align-items: center;
margin: 20px;
width: 100%;
}

.Dolgok div:hover{
    transition: 175ms;
border-color: goldenrod;
}







  h1{
    font-family: 'Secular One', sans-serif;
text-align: center;
  }